<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<!--MQ配置-->
		<add key="HostName" value="202.43.148.233"/>
		<add key="UserName" value="zyadmin"/>
		<add key="MqPassword" value="zyadmin@2021"/>
		<add key="Port" value="7092"/>
		<add key="RouteKey" value="wj_test_key_xa"/>
		<add key="ExchangeName" value="amq.topic"/>

		<!--摄像头轮盘数量-->
		<add key="RouletteNumber" value="5"/>

		<!--登录用户名/密码-->
		<add key="Name" value="admin"/>
		<add key="Password" value="123456"/>

		<!--前端页面地址-->
		<add key="Address" value="http://192.168.124.14:3000"/>
		<add key="GetFenceDefenseAlermReationDetiles" value="http://202.43.148.233:7086/api/Fence/GetFenceDefenseAlermReationDetiles?deviceid="/>

		<!--后端服务地址-->
		<add key="ServerHost" value="http://192.168.124.18:5001"/>

		<!--摄像头信息-->
		<add key="HKIP" value="192.168.124.64"/>
		<add key="HKName" value="admin"/>
		<add key="HKPassword" value="qwe@12345"/>
		<add key="HKPort" value="8000"/>
	</appSettings>
</configuration>
